# Create Project 3

## Load files

In [1]:
title_basics = 'https://datasets.imdbws.com/title.basics.tsv.gz'

In [2]:
title_akas = 'https://datasets.imdbws.com/title.akas.tsv.gz'

In [3]:
title_rating = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

## import libraries

In [4]:
# import pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# import SQL

## Read basics and preprocess

In [5]:
# create the pandas df
basics = pd.read_csv(title_basics, sep='\t', low_memory=False)

In [6]:
# look at info
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9731082 entries, 0 to 9731081
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 668.2+ MB

In [7]:
#check the head
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
# replace null values
basics.replace({'\\N':np.nan}, inplace = True)

In [9]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9731082 entries, 0 to 9731081
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 668.2+ MB

In [10]:
# replace O values
basics.dropna(subset= ['runtimeMinutes', 'genres'], inplace=True)

In [11]:
# keep only 'Movie'
basics = basics.loc[ basics['titleType']=='movie']

In [12]:
# change startYear to a float and check
basics['startYear'] = basics['startYear'].astype(float)
print(basics.dtypes)

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [13]:
# keep only startyear = 2000-2023
#basics.drop(basics[basics['startYear'] < 2000].index, inplace = True)
#basics.head()

In [14]:
#basics.drop(basics[basics['startYear'] > 2001].index, inplace = True)
#basics.head()

In [15]:
# keep only startYear '2000-2022'
basics = basics [(basics['startYear']>=2000) & (basics['startYear']<=2021)]

In [16]:
# keep only documentary
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [17]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138238 entries, 34803 to 9730932
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          138238 non-null  object
 1   titleType       138238 non-null  object
 2   primaryTitle    138238 non-null  object
 3   originalTitle   138238 non-null  object
 4   isAdult         138238 non-null  object
 5   startYear       138238 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  138238 non-null  object
 8   genres          138238 non-null  object
dtypes: float64(1), object(8)
memory usage: 10.5+ MB

In [18]:
# example making new folder with os
import os
os.makedirs('Data3/',exist_ok=True) 
# Confirm folder created
os.listdir("Data3/")

['.ipynb_checkpoints',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_aka.csv.gz',
 'title_basics.csv.gz',
 'title_rating.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

## Load AKA and preprocess

In [19]:
# create the pandas df
aka = pd.read_csv(title_akas, sep='\t', low_memory=True)

C:\Users\Elizabeth Spreng\AppData\Local\Temp\ipykernel_15364\3899646706.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  aka = pd.read_csv(title_akas, sep='\t', low_memory=True)

In [20]:
#look at the column names
aka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35423851 entries, 0 to 35423850
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [21]:
aka = aka[aka['region'] == "US"]

In [22]:
aka.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425956 entries, 5 to 35423595
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1425956 non-null  object
 1   ordering         1425956 non-null  int64
 2   title            1425956 non-null  object
 3   region           1425956 non-null  object
 4   language         1425956 non-null  object
 5   types            1425956 non-null  object
 6   attributes       1425956 non-null  object
 7   isOriginalTitle  1425956 non-null  object
dtypes: int64(1), object(7)
memory usage: 97.9+ MB

In [23]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(aka['titleId'])
keepers

34803       True
61116       True
67669       True
77964      False
86801       True
           ...
9730755     True
9730764     True
9730803    False
9730848     True
9730932    False
Name: tconst, Length: 138238, dtype: bool

In [24]:
# filter 
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93938,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9730220,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
9730615,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
9730755,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9730764,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9730848,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [25]:
# replace null values
aka.replace({'\\N':np.nan}, inplace = True)

## Load ratings and preprocess

In [26]:
# create the pandas df
rating = pd.read_csv(title_rating, sep='\t', low_memory=False)

In [27]:
# replace null values
rating.replace({'\\N':np.nan}, inplace = True)

In [28]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295402 entries, 0 to 1295401
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1295402 non-null  object
 1   averageRating  1295402 non-null  float64
 2   numVotes       1295402 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.6+ MB

In [29]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =rating['tconst'].isin(aka['titleId'])
keepers

0           True
1           True
2          False
3          False
4           True
           ...
1295397    False
1295398    False
1295399    False
1295400    False
1295401    False
Name: tconst, Length: 1295402, dtype: bool

# Save the Data

In [31]:
## Save current dataframe to file.
basics.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [32]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [33]:
## Save current dataframe to file.
aka.to_csv("Data/title_aka.csv.gz",compression='gzip',index=False)

In [34]:
# Open saved file and preview again
aka = pd.read_csv("Data/title_aka.csv.gz", low_memory = False)
aka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [35]:
## Save current dataframe to file.
rating.to_csv("Data/title_rating.csv.gz",compression='gzip',index=False)

In [36]:
# Open saved file and preview again
rating = pd.read_csv("Data/title_rating.csv.gz", low_memory = False)
rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1967
1  tt0000002            5.8       263
2  tt0000003            6.5      1803
3  tt0000004            5.6       179
4  tt0000005            6.2      2603

# Show the info on each dataframe

In [37]:
#check the info on the basics
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81409 entries, 0 to 81408
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81409 non-null  object
 1   titleType       81409 non-null  object
 2   primaryTitle    81409 non-null  object
 3   originalTitle   81409 non-null  object
 4   isAdult         81409 non-null  int64
 5   startYear       81409 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81409 non-null  int64
 8   genres          81409 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.6+ MB

In [38]:
#check the aka info
aka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425956 entries, 0 to 1425955
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1425956 non-null  object
 1   ordering         1425956 non-null  int64
 2   title            1425956 non-null  object
 3   region           1425956 non-null  object
 4   language         3871 non-null     object
 5   types            976603 non-null   object
 6   attributes       46299 non-null    object
 7   isOriginalTitle  1424611 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 87.0+ MB

In [39]:
# check the rartings info
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295402 entries, 0 to 1295401
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1295402 non-null  object
 1   averageRating  1295402 non-null  float64
 2   numVotes       1295402 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.6+ MB